# Environment file example for knowing which key to use in the .env file.
# You can copy this file and rename it to .env and fill the values with your own credentials.

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=your_password
DB_NAME=your_database_name

# JWT configuration
JWT_SECRET=
JWT_EXPIRATION_SECONDS=
# Optional: uncomment only if you want to override the default CHATOP_AUTH cookie name.
# JWT_COOKIE_NAME=CHATOP_AUTH
JWT_COOKIE_SECURE=false
JWT_COOKIE_SAME_SITE=Lax

# Swagger UI demo user example
SWAGGER_DEMO_USER_NAME=Demo User
SWAGGER_DEMO_USER_EMAIL=demo@chatop.com
SWAGGER_DEMO_USER_PASSWORD=password

# Mail configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=
MAIL_SMTP_STARTTLS_ENABLE=
MAIL_FROM=
