# Environment file example for knowing wich key to use in the .env file.
# You can copy this file and rename it to .env and fill the values with your own credentials.

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=your_username
DB_PASSWORD=your_password
DB_NAME=your_database_name